/****** Elad Shechter's RESET *******/
/* box sizing border-box for all elements */
*,
*::before,
*::after { box-sizing:border-box; }

a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

header>h1{
    
    font-family: 'Quintessential', cursive;
    font-size: xx-large;
    text-align: center;
   
}

aside{
    background-color: beige;
    font-family: 'Quintessential', cursive;
    font-size: large;
    border-radius: 10px;
    

}
header>h1{
   
       text-align: center;
    background-color: royalblue;
   border-radius: 20px;
}
    
 main{
    display: flex;
    flex-direction: row;
    border-radius: 30px

 }
 main> {
    padding:10%
 }

 main{
    background-color: burlywood;
    font-family: 'Quintessential', cursive;

 }









